.simulator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0rem 2rem 2rem 2rem;
    flex-grow: 1;

    --ocean-color: #54a1dcd6;
    --main-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.44);
}

.simulatorView {
    width: 100%;
    flex-grow: 1;
    background-color: var(--ocean-color);
    border: 1px solid var(--bg-color-50);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    box-shadow: var(--main-box-shadow);
}

.simulatorInfo {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bg-color-50);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: var(--bg-color-00);
    gap: 1rem;
}

.simulator button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: var(--bg-color-00) !important;
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.5rem;
}

.simulator button * {
    color: var(--bg-color-00) !important;
    width: 1rem;
    height: 1rem;
}